<p style="text-align: center">
  <button (click)="this.getNodes('1-simple-process', 'simple')">Simple</button>
  <button (click)="this.getNodes('2-multiple-human-services', 'multiple')">multiple</button>
  <button (click)="this.getNodes('3-branching-process', 'branching')">branching</button>
  <button (click)="this.getNodes('4-recursive-branching-process', 'branching recursive')">branching recursive</button>
</p>
<ng-template [ngIf]="data !== null">
  <h2 style="text-align: center;"><b>{{ this.title }}</b></h2>
  <h3>Original Json</h3>
  <pre>
    <code style="width: 50%; display: block; float: left;">
        {{ data.edges | json }}
      </code>
      <code style="width: 50%; display: block; float: left;">
        {{ data.nodes | json }}
      </code>
  </pre>
  <br/>
  <h3>formated Json</h3>
  <pre>
    <code style="width: 50%; display: block; float: left;">
      {{ newData.edges | json }}
    </code>
    <code style="width: 50%; display: block; float: left;">
        {{ newData.nodes | json }}
    </code>
  </pre>
</ng-template>
